.features .card {
    padding: 41px 43px;
    background: #ffffff;
    box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 46px;
}
.card {
    grid-column: span 2;
}

.features .card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.features .card p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150.4%;
}

/* Dealing with 2 orphan items */

.card:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
}

.card:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
}

@media screen and (max-width: 776px) {
    .card__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .card__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card:last-child:nth-child(3n - 1) {
        grid-column-end: 1;
    }

    .card:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 1;
    }
}
@media screen and (max-width: 350px) {
}
