.features .card {
    padding: 41px 43px;
    background: #ffffff;
    box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 396px;
}

.card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px;
}

.features .card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.features .card p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150.4%;
}

.features .bottom {
    gap: 46px;
    margin-top: 46px;
}

@media screen and (max-width: 1286px) {
    .card__wrapper {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width: 868px) {
    .card__wrapper {
        grid-template-columns: 396px;
    }

    .features .bottom {
        gap: 46px;
        margin-top: 46px;
        grid-template-columns: 396px;
    }

    /* .card__wrapper .card {
        width: 100%;
    } */
}
@media screen and (max-width: 442px) {
    .card__wrapper {
        grid-template-columns: 1fr;
    }

    .features .bottom {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100% !important;
        padding: 20px !important;
    }
}
