@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
    --primary: #7e1cfe;
    --dark: #000000;
    --footer: #d0d0d0;
    --pure: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fffaff;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.para {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.container__vn {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.smooth {
    transition: all 0.3s ease;
}

.btn-primary {
    padding: 12px 63px;
    background: #7e1cfe;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    color: var(--pure);
    border: 2px solid transparent;
    cursor: pointer;
}

.btn-primary:hover {
    background: transparent;

    border: 2px solid var(--primary);
    color: var(--dark);
}
.btn-primary-sm {
    padding: 12px 20px;
    background: #7e1cfe;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    color: var(--pure);
    border: 2px solid transparent;
    cursor: pointer;
}

.btn-primary-sm:hover {
    background: transparent;

    border: 2px solid var(--primary);
    color: var(--dark);
}

.btn-secondary {
    padding: 12px 27px;
    background: transparent;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    color: var(--dark);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.btn-secondary:hover {
    background: var(--primary);
    border: 2px solid transparent;
    color: var(--pure);
}

.btn-secondary-sm {
    padding: 12px 27px;
    background: transparent;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
    color: var(--dark);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.btn-secondary-sm:hover {
    background: var(--primary);
    border: 2px solid transparent;
    color: var(--pure);
}
@media screen and (max-width: 1270px) {
    .container__vn {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
@media screen and (max-width: 1100px) {
    .container__vn {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
@media screen and (max-width: 992px) {
    .container__vn {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 30px !important;
        line-height: 30px !important;
    }
}
@media screen and (max-width: 350px) {
    .container__vn {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
